html {
  font-family: sans-serif;
  font-size: 10px;
}

* {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

body {
  background: #aaa;
}

.container {
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.header {
  background: #000000;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.capssalera {
  background: #2c4059;
  display: flex;
  margin-bottom: 3px;
}

.logo,
.social {
  background: #ea5455;
  flex: 1;
}

@keyframes canviMida{
  0% {
    scale: 1;
  }
  100% {
    scale: 1.25;
  }
}

.logo:hover {
  background: #ff1493;
  cursor: pointer;
  /*
  animation-name: canviMida; //none
  animation-duration: .25s; //1
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards; //none
  animation-play-state: running;
  */
  animation: canviMida .25s forwards;
}

.nav {
  background: #ea5455;
  flex: 5;
}

.banner {
  background: #ff8a00;
  margin-top: 3px;
}

.hero {
  background: #fed700;
}

.main {
  display: flex;
  background: #000000;
}

.section {
  background: #4e4e6a;
  display: flex;
  flex-wrap: wrap;
  flex: 2;
}

.article {
  background: #226baf;
  flex: 1 1 40%;
}

.article-footer {
  background: #71a3c6;
  flex: 1 1 100%;
}

.aside {
  background: #f63f51;
  flex: 1;
}

.publicitat {
  background: #fed700;
}

.footer {
  background: #000000;
}

.peu-pagina {
  background: #f0e78c;
}

@media only screen and (max-width: 768px) {
  body {
    background: #666;
  }

  .capssalera,
  .main,
  .article {
    flex-direction: column;
  }

  /* .main {
    background: #feff03;
  } */
}

@media only screen and (max-width: 576px) {body {
  background: #444;
}

  /* .main {
    background: #f8e42f;
  } */

  .section {
    flex-direction: column;
    /* background: #1b647a; */
  }

  /* .article {
    background-color: #659ab8;
    flex: 1;
  } */

  /* .article-footer {
    background-color: #abe7ab;
  } */

  /* .aside {
    background-color: #f57439;
  } */

  /*  .publicitat {
    background: #e7ae64;
  } */
}
